@font-face {
  font-family: "runescape";
  src: url("./src/assets/fonts/runescape.eot"); /* IE9 Compat Modes */
  src: url("./src/assets/fonts/runescape.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./src/assets/fonts/runescape.otf") format("opentype"), /* Open Type Font */
    url("./src/assets/fonts/runescape.svg") format("svg"), /* Legacy iOS */
    url("./src/assets/fonts/runescape.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./src/assets/fonts/runescape.woff") format("woff"), /* Modern Browsers */
    url("./src/assets/fonts/runescape.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  padding: 0;
}